export TERM="xterm-256color"
export EDITOR="subl"
export PAGER="most"

# Don't put duplicate lines or lines starting with space in the history.
export HISTCONTROL=ignoreboth

# Increase the maximum number of commands recorded.
export HISTSIZE=100000

# Increase the maximum number of lines of history.
export HISTFILESIZE=100000

# Don't add certain commands to the history file.
export HISTIGNORE="clear:history:exit:pwd:* --help"

# Make Python use UTF-8 encoding for output to stdin/stdout/stderr.
export PYTHONIOENCODING="UTF-8"

# Use US English and UTF-8 encoding.
export LANG="en_US"
export LC_ALL="en_US.UTF-8"

export GOPATH="$HOME/projects/go"
