export LANG="en_US.UTF-8"
export LC_ADDRESS="en_US.UTF-8"
export LC_NAME="en_US.UTF-8"
export LC_MONETARY="en_US.UTF-8"
export LC_PAPER="en_GB.UTF-8"
export LC_IDENTIFICATION="en_US.UTF-8"
export LC_TELEPHONE="en_US.UTF-8"
export LC_MEASUREMENT="en_GB.UTF-8"
export LC_TIME="en_GB.UTF-8"
export LC_NUMERIC="en_GB.UTF-8"

export TERM="xterm-256color"
export EDITOR="subl -w --launch-or-new-window"
export VISUAL="subl -w --launch-or-new-window"
export PAGER="most"
export BROWSER="google-chrome"

# Don't put duplicate lines or lines starting with space in the history.
export HISTCONTROL=ignoreboth
# Increase the maximum number of commands recorded.
export HISTSIZE=100000
# Increase the maximum number of lines of history.
export HISTFILESIZE=100000
# Don't add certain commands to the history file.
export HISTIGNORE="clear:history:exit:pwd:cd:ll:ls:-:reboot:shutdown now:aptuu:sudo -i"
# Update bash history in real time.
export PROMPT_COMMAND="history -a; $PROMPT_COMMAND"

# Make Python use UTF-8 encoding for output to stdin/stdout/stderr.
export PYTHONIOENCODING="UTF-8"
export GOPATH="$HOME/go"
export DOTFILES_PATH="$HOME/projects/dotfiles"
export NPM_CONFIG_PREFIX="$HOME/.npm-global"
