[Desktop Entry]
Type=Application
Exec=imwheel --kill
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=mouse-config
Name=mouse-config
Comment[en_US]=
Comment=
