[Desktop Entry]
Type=Application
Exec=memcheck
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=memcheck
Name=memcheck
Comment[en_US]=
Comment=
