[Desktop Entry]
Type=Application
Exec=memwatch
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=memwatch
Name=memwatch
Comment[en_US]=
Comment=
